
.sidebar {
	/*width:296px;
	background:#e0e0e0;
	border:1px solid #d3d2d2;
	padding:10px;
	float:left;*/

	width: 350px;
    border: 1px solid #dee2e6!important;
    padding: 15px;
    float: left
}
.sidebar_menu {
	/*background:#2aacc8;*/
	width:100%;
	margin-bottom:20px;
}
.sidebar .title {
	padding:5px 10px;
	/*background:#279b38;*/
	font-size:20px;
	font-weight:700;
	color: #279b38;
	text-transform: uppercase;
}
.sidebar .each_content {
	padding:5px;
}
.each_content ul {
	margin:0;
	padding:0;
}
.each_content ul li {
	list-style:none;
	padding: 5px;
}
.each_content ul li a {
	color:#fff;
	text-decoration:none;
	padding-left:20px;
	background:url(../images/arrow.png) no-repeat left center;
}
.contact_form {
	margin-bottom:20px;
}
.contact_form label {
	font-weight:bold;
}
.contact_form .input {
	background:#ffffff;
	border:1px solid rgba(4, 38, 45, 0.52);
	padding:5px;
	width:100%;
	color:#666;
}
.contact_form label {
	padding:5px;
	width:100%;
	color:#666;
}
.only_form {
	padding:10px;
}
.only_form em { color:#999; font-size:12px; }
sup {
	color:#F00;
}
.each_content .each_part {
	padding:10px 0; border-bottom:1px solid #dee2e6 !important; border-top:1px solid #dee2e6 !important; 
}
.each_part a { color:#fff; }
.each_content .first_part {
	border-top:none;
}
.each_content .last_part {
	border-bottom:none;
}
.button {
	cursor:pointer;
	background:#e9e9e9;
	border:1px solid #cad6d8;
	font-size:14px;
	font-weight:bold;
	padding:5px;
	color:#666;
}

/************ protfolio ****************/

.left_content {
	/*float:left;
	max-width: 870px;
	margin-right:10px;*/

	/*float: left;
    max-width: 810px;
    margin-right: 18px;
    border: 1px solid #dee2e6!important;
    padding: 15px;*/
}
.blog-content h1 {
	/*border-bottom:1px solid #666;
	padding-bottom:10px;*/
}
.blog-content h2 {
	color: #fff;
	background:#279b38;
	padding:5px 10px;
	font-size:20px;
	font-weight:bold;
	margin-top:50px;
}
.portfolio_box{
    height: auto;
    margin: 20px auto;
	padding:10px;
    max-width: 1200px;
	/*background:url(../images/background_3.png);
	border:1px solid #cfd0d1;*/
	}
	
/************ protfolio ****************/

.web_body{
	background-color: #279b38;
    font-weight: 700;
    vertical-align: middle;
    padding: 10px 0px;
    /*margin-top: -28px;*/
}

.bottom-bordre{
	border-bottom: 1px solid #dee2e6 !important;
    padding-bottom: 10px;
}

.blog-head{
	padding: 5px 10px;
    font-size: 20px;
    font-weight: 700;
    color: #279b38;
    text-transform: uppercase;
}
