@import url("google-font.css");
@import url("fontawesome-all.min.css");


/*font-family: 'Open Sans', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Ubuntu', sans-serif;*/

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #666666;
    line-height: 24px;
}
a {
    color: #666666;
}
a:hover {
    text-decoration: none;
    color: #444444;
}
.padding-twenty {
    padding: 10px 0px;
}
.button-divider {
    width: 30px;
    height: 30px;
}
.form-row div {
    margin-bottom: 10px;
}
.top-header {
    background: #279b38;
    color: #fff;
    font-weight: 700;
    vertical-align: middle;
    padding: 10px 0px;
}
.home-slide-bg {
    background: black;
}
.carousel-indicators {
    bottom:0px;
}
.fixedsticky {
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    top: 0;
    z-index: 999999;
    background: white;
}
.page-title {
	background:#4098e4;
}
.page-title h2 {
	margin-bottom:0px;
	font-size:30px;
	color:white;
	text-transform:uppercase;
	font-weight:700;
}

.slideimg-inner {
    max-width: 1170px;
}
.slideimg {
    min-height: 420px;
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
}
.slideimg-demo {
    background-image: url(../img/banner-2-bg.jpg);
}
.slideimg-one {
    background-image: url(../img/1.jpg);
}
.slideimg-two {
    background-image: url(../img/2.jpg);
}
.slideimg-three {
    background-image: url(../img/3.jpg);
}
.slideimg-four {
    background-image: url(../img/4.jpg);
}
.slideimg-five {
    background-image: url(../img/slide.gif);
}
.google_map {
    border: 1px solid #ddd;
}
.inner-services h3 {
    font-size: 20px;
}

.services {
	margin:0;
	padding:0;
}
#scroll-top a {
    padding: 4px 12px 4px;
    border-radius: 4px;
    background: #5DAABD;
    position: fixed;
    bottom: 130px;
    right: 32px;
    display: none;
    opacity: 0.89;
    filter: alpha(opacity=89);
    z-index: 499841;
    cursor: pointer;
}
.services li {
	list-style:none;
}
.content-pad {
    padding: 15px;
}
.section-top {
    padding: 40px 0px;
}
.section-mar {
    margin-top: 50px;
}
.section-pad {
    padding: 50px 0;
}
figure {
    border: 1px solid #32b4ca;
    min-height: 286px;
}
section {
    padding: 50px 0;
}
.client-area {
    background: #2bb940;
    border: 0px;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    margin-right: 10px;
}
.social-button {
    color: #000;
    font-size: 24px;
    vertical-align: text-top;
}

.top-navigation a {
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    color: #444444;
}

.top-navigation a:hover {
    color: #279b38;
    text-decoration: none;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

#logo img {
    width: 276px;
    -webkit-transition: width 1s;
    -moz-transition: width 1s;
    -o-transition: width 1s;
    transition: width 1s;
}
@media (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}
@media (max-width: 1200px) {
    .container {
        max-width: 100% !important;
    }
}
@media (max-width: 991px) {
    header {
        height: auto !important;
    }
    header.smaller {
        height: auto !important;
    }
    .nav-item {
        padding-left: 0px !important;
    }
    .nav-item a {
        color: #fff;
        text-align: left !important;
        padding-left: 15px !important;
        background: #444444;
        border-bottom: 1px solid #555555;
        display: block;
    }
    .nav-item a:hover {
        color: #fff;
        background: #279b38;
        -webkit-transition: background-color 0.3s ease-out;
        -moz-transition: background-color 0.3s ease-out;
        -o-transition: background-color 0.3s ease-out;
        transition: background-color 0.3s ease-out;
    }
    .nav-span {
        clear: right;
        display: inline-block !important;
        width: 25px;
    }
    .second {
        font-size: 18px !important;
    }
}
@media (min-width: 993px) and (max-width: 1199px) {
    .nav-item {
        padding-left: 8px !important;
    }
}
@media (max-width: 767px) {
    .responsive-center {
        text-align: center !important;
    }
    .navbar {
        align-items: center !important;
    }
    .top-head {
        padding: 5px 0px;
    }
    .second {
        font-size: 30px !important;
    }
    .scroll-img .card-group {
        flex-direction: initial !important;
    }
}

@media all and (max-width: 660px) {
    header h1#logo {
        display: block;
        float: none;
        margin: 0 auto;
        text-align: center;
    }
    header.smaller {
        height: 75px;
    }
}

@media (max-width: 425px) {
    .navbar {
        /*justify-content: center !important;*/
    }
    header {
        margin-bottom: 5px !important;
    }
    #logo img {
        width: 225px !important;
    }
}



header {
    width: 100%;
/*    height: 130px;*/
    align-items: center;
    display: flex;
    overflow: hidden;
    position: sticky;
    top: 50;
    z-index: 9999;
    background-color: white;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    padding: 40px 0px;
}

header.smaller h1#logo img {
    width: 275px;
}

header.smaller {
    padding: 10px 0px;
    box-shadow: 0px 1px 5px #ccc;
    top: 0;
}
.nav-span {
    clear: right;
    display: block;
}

.nav-item {
    padding-left: 20px;
    text-align: center;
}

.read-me {
    border: 1px solid #fff;
    background: #279b38;
    color: #fff;
    margin: 0 auto;
    width: 120px;
}

.read-me:hover {
    background: #20b4ca;
    border: 1px solid #fff;
}
.read-me-service-home {
    margin-bottom: 24px;
    bottom: 0px;
    right: 0px;
    left: 0px;
}
h2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 30px;
    color: #279b38;
}

h3 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
    color: #279b38;
}

h4 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    color: #555555;
}

h5 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 21px;
    color: #279b38;
}

h6 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
}
.pink {
    color: #2579c1;
}
.pink-background {
    background: #1eb3c9;
}
.green-background {
    background: #279b38;
}
.domain-hosting:nth-child(odd) h4 {
    background: #2578c1;
}
.domain-hosting:nth-child(even) h4 {
    background: #279b38;
}

.green {
    color: #279b38;
}
/*.font-45 {
    font-size: 40px;
}*/
.portfolio-cap {
    background:rgba(255, 255, 255, 0.6);
    padding: 10px;
    right: inherit;
    left: inherit;
    bottom: 0px;
    width: 100%;
}
.portfolio-cap h5 {
    text-transform: uppercase;
    font-weight: 700;
    margin: 0px;
    text-align: left;
    color: #666666;
}
.notice-board {
    width: 100%;
    height: 150px;
    overflow: hidden;
}
.notice-board ul {
    margin: 0px;
    padding: 0px;
}
/*.notice-board ul li {
    content: "\f2b9";
    font-family: Font Awesome\ 5 Brands;
}*/
.notice-board ul li a {
    line-height: 13px;
    display: block;
    font-size: 12px;
    padding: 2px 10px 5px;
}
.notice-board ul li a:hover {
    background: #279b38;
    color: white;
}

.portfolio_thumb .card:first-child{margin-left: inherit !important;}
.portfolio_thumb .card:last-child{margin-right: inherit !important;}
.portfolio_thumb .card img { width: 110px; border: 3px solid #ddd;}

.completion-time {
    width: 50px;
    height: 50px;
    color: white;
    font-style: normal;
    padding: 14px 0px;
}
aside {
    margin-bottom: 40px;
}
aside h4 {
    color: #279b38;
    text-transform: uppercase;
    font-weight: 700;
}
aside h4 i {
    color: #2578c1;
}

.about {
    background: #4a9ade;
}

.about p {
    font-size: 20px;
    color: white;
    line-height: 27px;
}

.about-dnation-soft {
    background: #2578c1;
}

.about-dnation-soft h2 {
    color: white;
}
.about-side-four {
    background: rgba(255, 255, 255, .5);
}
.visit-website-button {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 16px;
    border:none;
}
.order-button {
    background: #279b38;
    border:none;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 16px;
}
.project-on-countries {
    border: 3px solid #279b38;
    padding: 20px;
}
.parallax-web-design .nav-link {
    font-size: 18px;
    font-weight: bold;
}
.ds-parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax-about-us {
    background-image: url("../img/about-us-first-parallax.jpg");
    background-color: #000000;
    min-height: 585px;
}
.parallax-facts {
    background-image: url("../img/about-us-second-parallax.jpg");
    background-color: #222222;
    min-height: 595px;
}
.parallax-our-team {
    background-image: url("../img/about-us-third-parallax.jpg");
    background-color: #589b23;
    min-height: 420px;
}
.parallax-our-countries {
    background-image: url("../img/about-us-four-parallax.jpg");
    background-color: #f1f1f1;
    min-height: 480px;
}


.parallax-web-design {
    background-image: url("../img/parallax-1.jpg");
    background-color: #279b38;
    min-height: 420px;
}

.parallax-best-web-design {
    background-image: url("../img/parallax-2.jpg");
    min-height: 420px;
}

.parallax-our-clients {
    background-image: url("../img/parallax-our-clients.gif");
    background-color: #279b38;
    min-height: 340px;
}

.parallax-our-process {
    background: #f1f1f1;
}

.parallax-footer {
    background-image: url("../img/parallax-footer.jpg");
    min-height: 665px;
    color: white;
}

.tab-list-ul {
    width: 100%;
}

.parallax-foot {
    background: #111111;
    border-top: 1px solid #444444;
}

.parallax-foot {
    color: white;
}

.parallax-web-design p {
    color: white;
}

.parallax-web-design h2 {
    border-bottom: 1px solid #2aab3d;
    color: white;
}

.out-portfolio-top-button {
    background: #eeeeee;
    border: none;
    color: #666666;
}

.portfolio-card {
    background: #2578c1;
    color: white;
}

.portfolio-card:hover {
    background: #279b38;
    -webkit-transition: background-color 0.3s ease-out;
    -moz-transition: background-color 0.3s ease-out;
    -o-transition: background-color 0.3s ease-out;
    transition: background-color 0.3s ease-out;
}

.portfolio-card:hover h6 {
    border-bottom: 1px solid #63ab2b;
}

.portfolio-card h6 {
    border-bottom: 1px solid #0095af;
}

.nav-link {
    background: #279b38;
    margin-bottom: 2px;
    padding: 19px 23px;
    color: white;
    font-size: 22px;
}

.nav-link:hover {
    color: white;
    background: #599d26;
    -webkit-transition: background-color 0.3s ease-out;
    -moz-transition: background-color 0.3s ease-out;
    -o-transition: background-color 0.3s ease-out;
    transition: background-color 0.3s ease-out;
}

.heading-black {
    color: black;
}

.heading-white {
    color: white;
}

.heading-underline {
    background: #279b38;
    height: 1px;
    width: 120px;
    margin: 15px auto;
}

.heading-underline-white {
    background: white;
    height: 1px;
    width: 120px;
    margin: 15px auto;
}

.service-box {
    border: 1px solid #b1b1b1;
    min-height: 400px;
}
.dn-notice-items:hover {
    background: #7ac043;
    color: white;
    transition: all 0.5s;
}
.dn-notice-items a:hover {
    background: #7ac043;
    color: white;
    display: block;
}
.card {
    background: none;
}

.scroll-img {
    max-width: 1170px;
    min-height: 170px;
    overflow: hidden;
}

.scroll-img ul {
    width: 2200px;
    margin: 0px;
    padding: 0px;
}
.portfolio-item .card {
    border: none;
}
.scroll-img ul li {
    width: 170px;
    float: left;
    border:none;
}

.our-clients-left {
    background: none;
    border: none;
    cursor: pointer;
    position: relative;
    float: left;
    top: -100px;
    left: -25px;
    font-size: 20px;
}

.our-clients-right {
    background: none;
    border: none;
    cursor: pointer;
    position: relative;
    float: right;
    top: -100px;
    right: -25px;
    font-size: 20px;
}

.service-box-logo {
    font-size: 74px;
    color: #464646;
}

.home-text {
    font-size: 22px;
    font-weight: 300;
    line-height: 32px;
}

.img-margin-bottom {
    margin-bottom: 20px;
}

.color-icon {
    color: #2679c1;
}

.our-process-circle {
    color: white;
    width: 170px;
    height: 170px;
    cursor: pointer;
}

.our-process-circle:hover {
    background: #279b38;
    -webkit-transition: background-color 0.3s ease-out;
    -moz-transition: background-color 0.3s ease-out;
    -o-transition: background-color 0.3s ease-out;
    transition: background-color 0.3s ease-out;
}

.our-process-circle h6 {
    line-height: 170px;
}

.goal-definition {
    background: #2aa73c;
}

.planning {
    background: #1fb4ca;
}

.design {
    background: #849279;
}

.development {
    background: #1495a8;
}

.feedback {
    background: #1f464d;
}

.your-website {
    background: #097786;
}

.color-green {
    color: #279b38;
}
.font-fifty {
    font-size: 50px;
}

.text-contact {
    width: 150px;
    display: block;
}
footer a {
    color: white;
}
.footer-heading {
    color: #279b38;
    border-bottom: 1px solid #279b38;
}
.footer-badge {
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 22px;
    padding: 10px 5px;
    min-width: 118px;
}
.foot-address-width {
    width: 25px;
}
.php {
    background: #111111;
}

.html {
    background: #c96104;
}

.css {
    background: #51951c;
}

.javascript {
    background: #035c69;
}

.ajax {
    background: #546447;
}

.jquery {
    background: #406d74;
}

.laravel {
    background: #6f0a0a;
}

.codeigniter {
    background: #c96104;
}

.joomla {
    background: #1e464c;
}

.wordpress {
    background: #839278;
}

.majento {
    background: #ff3000;
}

.prestashop {
    background: #51951c;
}

.drupal {
    background: #31565c;
}

.opencart {
    background: #17260b;
}

.zencart {
    background: #666868;
}

.photoshop {
    background: #70a14b;
}

.illustrator {
    background: #20b4ca;
}

.indesign {
    background: #51951c;
}


strong.heading-white{ 
    font-size: 26px;
    margin-top: 32px;
    display: block;
}
.hed-h4{
    color: #279b38;
    text-transform: capitalize;
}

.box-dashboard{
    /*color:#279b38;*/
    border:4px solid #279b38;
    padding: 20px;
    text-align: center;
    font-weight: bold;
}
.box-h4{
    color: #0079c1; 
    font-weight: bold;
}


#fornt-table thead tr{
        
        background-color: #3391e1; 
        /*color: #0079c1;
        font-weight: bold;*/
    }

    #fornt-table tbody tr:nth-of-type(odd){
        background-color: #67db7a !important; 
    }
    #fornt-table tbody tr{
        background-color: #a7c7e3; 
        /*color: #279b38;*/
    }
    #fornt-table tfoot tr{
        text-transform: bold;
        background-color: #3391e1;
        /*color: #0079c1;
        font-weight: bold;*/
    }

    #fornt-table thead tr th{
        color: #000000;
        text-transform: bold;
    }
    #fornt-table tfoot tr th{
        color: #000000;
        text-transform: bold;
    }

.pull-right{
    float: right;
}

@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
}

.label{
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}
.label-danger{
    background-color: #f0ad4e;
}
.label-success{
    background-color: #449d44;
}
.label-danger{
    background-color: #c9302c;
}




.width-chats1{
    width: 60%;
    float: left;
}

.width-chats{
    width: 60%;
    float: right;
}

.container2 {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.darker {
  border-color: #ccc;
  background-color: #ddd;
}

.container2::after {
  content: "";
  clear: both;
  display: table;
}

.container2 img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

.container2 img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

.time-right {
  float: right;
  color: #aaa;
}

.time-left {
  float: left;
  color: #999;
}

.comment-wrapper{
    border:2px solid #279b38;
}
.panel-heading{
    background-color: #d3d3d3;
    padding: 20px;
}


.panel-body{
    padding: 20px;
}



.scrollable-panel{
    height:400px;
    overflow-y:scroll;
    width:100%;
}


.margin-right{
    margin-right: 10px;
}

.input-post {
    height: 60px;
    border-radius: 40px;
}
.button-post{
    border-radius: 50px;
    height: 50px;
    margin-top: 5px;
}


